@model Connected.ViewModels.GroupViewModel
@using System.Activities.Expressions
@using System.Diagnostics.Eventing.Reader
@using Connected.Services;
@{
    ViewBag.Title = @Html.DisplayFor(model => model.Name);
    <link href="~/Content/DisplayGroup.css" rel="stylesheet" />

}




    <div class="Navbar">
        <h2>@Html.DisplayFor(model => model.Name)</h2>
        <hr />
        <p class="Description">
            <b class="DescriptionName">
                @Html.DisplayNameFor(model => model.Description)
            </b>
            
            <p class="DescriptionText">@Html.DisplayFor(model => model.Description)</p>

        </p>
        <br />

        <section class="Image">
            @Html.DisplayFor(model => model.Image)
        </section>
        <br /> <br />

        <p>
            <b>
                @Html.DisplayNameFor(model => model.NumberOfUsers)
            </b>
            @Html.DisplayFor(model => model.NumberOfUsers)
        </p>
        <br />
        <p>
            @if (!Model.UserInGroup)
            {
                @Html.ActionLink("Join group", "AddGroupMember", new { @id = Model.Id })

            }
            else
            {
                @Html.ActionLink("Leave group", "RemoveGroupMember", new { @id = Model.Id })
                <br />
                @Html.ActionLink("Add Group Post", "CreateGroupPost", new { @id = Model.Id })

            }
        </p>
        <br /> <br />
    </div>


    <div class="Post">

        <i class="italic">Posts</i>
        <hr />
        
        @foreach (var post in Model.Posts)
        {
            <p><b>@post.Author.UserName</b></p><!--Link to user wall-->


            <p class="Text">@post.Body</p>

            <p>@post.Body</p>

            <p class="Text">@post.Body</p>
            <br/>
            
            @Html.ActionLink("Comment", "CreateComment", "Home", new { id = post.Id, returnPath = "Display", returnController = "Group" }, null);

            <div>
                @foreach (var c in post.Comments)
                {
                    if (c.Author.FullName == null)
                     {
                         <p>@c.Author.Email</p>
                     }
                    else
                    {
                        <p>@c.Author.FullName</p>
                    }

                <p>@c.Body</p>
                <p class="DateTimePosted">@c.DateTimePosted</p>
                    <br />
                }
            </div>

            

            <br />

        }
    </div>


    

<div class="Footer">
    
    <div>
        @Html.ActionLink("Back to List", "ListOfGroups")
    </div>
</div>