@model Connected.ViewModels.GroupViewModel
@using System.Activities.Expressions
@using System.Diagnostics.Eventing.Reader
@using Connected.Services;
@{
    ViewBag.Title = @Html.DisplayFor(model => model.Name);
    <link href="~/Content/DisplayGroup.css" rel="stylesheet" />

}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<br/>
<div>
    <p>
        <b class="DescriptionName">
            @Html.DisplayNameFor(model => model.Description)
        </b>
            @Html.DisplayFor(model => model.Description)
  
    </p>
    <section class="Image">
        @Html.DisplayFor(model => model.Image)
    </section>
    <p>
        <b>
            @Html.DisplayNameFor(model => model.NumberOfUsers)
        </b>
        @Html.DisplayFor(model => model.NumberOfUsers)
    </p>

    @foreach (var post in Model.Posts)
    {
        <p><b>@post.Author.UserName</b></p>
        <p>@post.Body</p>
    }
</div>

<p>
    @if (!Model.UserInGroup)
    {
        @Html.ActionLink("Join group", "AddGroupMember", new { @id = Model.Id })
        
    }
    else
    {
        @Html.ActionLink("Leave group", "RemoveGroupMember", new { @id = Model.Id })
       <br/>
        @Html.ActionLink("Add Group Post", "CreateGroupPost", new { id = Model.Id })
   
    }

</p>

<hr />
<div>
    @Html.ActionLink("Back to List", "ListOfGroups")
</div>
