@model Connected.ViewModels.GroupViewModel
@using System.Activities.Expressions
@using System.Diagnostics.Eventing.Reader
@using Connected.Services;
@{
    ViewBag.Title = "DisplayGroup";
}

<h2>DisplayGroup</h2>

<div>
    <h4>GroupViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        @if (!Model.UserInGroup)
        {
            @Html.ActionLink("Join group", "AddGroupMember", new {@id = Model.Id})
        }
        else
        {
            @Html.ActionLink("Leave group", "RemoveGroupMember", new { @id = Model.Id })
        }
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfUsers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfUsers)
        </dd>

    </dl>
</div>
