@using System.Activities.Expressions
@model IEnumerable<Connected.ViewModels.GroupViewModel>

@{
    ViewBag.Title = "ListOfGroups";
}

<h2>ListOfGroups</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfUsers)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "DisplayGroup", new {id = item.Id})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfUsers)
        </td>
        <td>
            @if (item.UserInGroup)
            {
                @Html.ActionLink("Leave", "RemoveGroupMember", new {id = item.Id})
            }
            else
            {
                @Html.ActionLink("Join", "AddGroupMember", new {id = item.Id})
            }
        </td>
    </tr>
}

</table>
