@using System.Activities.Expressions
@model IEnumerable<Connected.ViewModels.GroupViewModel>

@{
    ViewBag.Title = "ListOfGroups";
    <link href="~/Content/ListOfGroup.css" rel="stylesheet" />

}

<h2>ListOfGroups</h2>
    <br />
<button class="Create">
    @Html.ActionLink("Create New Group", "CreateGroup")
</button>
    <div class="GroupArea">
        @foreach (var item in Model)
        {

            <h3 class="GroupName">

                @Html.ActionLink(item.Name, "DisplayGroup", new {id = item.Id})

            </h3>
    <div class="Image">
        @Html.DisplayFor(modelItem => item.Image)
    </div>
            <p class="Description">
                @Html.DisplayFor(modelItem => item.Description)
            </p>

            <p class="Users">
                <b>
                    Number Of Users:
                </b>
                @Html.DisplayFor(modelItem => item.NumberOfUsers)

               
                    @if (item.UserInGroup)
                    {
                        @Html.ActionLink("Leave", "RemoveGroupMember", new {id = item.Id})
                    }
                    else
                    {
                        @Html.ActionLink("Join", "AddGroupMember", new {id = item.Id})
                    }
                
            </p>

        }
    </div>
