@using System.Activities.Expressions
@model IEnumerable<Connected.ViewModels.GroupViewModel>

@{
    ViewBag.Title = "ListOfGroups";
    <link href="~/Content/ListOfGroup.css" rel="stylesheet" />

}

<h2>ListOfGroups</h2>
    <br />
<p class="Create">
        @Html.ActionLink("Create New Group", "CreateGroup")  
</p>
<div class="GroupArea">
    @foreach (var item in Model)
    {
        <h1>
            <b>
                @Html.ActionLink(item.Name, "DisplayGroup", new { id = item.Id })
            </b>
        </h1>
        <p>
            <b>
                @Html.DisplayNameFor(model => model.Description)
            </b>
            @Html.DisplayFor(modelItem => item.Description)
        </p>
        @Html.DisplayFor(modelItem => item.Image)
        <p>
            <b>
                @Html.DisplayNameFor(model => model.NumberOfUsers)
            </b>
            @Html.DisplayFor(modelItem => item.NumberOfUsers)

            @if (item.UserInGroup)
            {
                @Html.ActionLink("Leave", "RemoveGroupMember", new { id = item.Id })
            }
            else
            {
                @Html.ActionLink("Join", "AddGroupMember", new { id = item.Id })
            }
        </p>

    }
</div>
