@model Connected.ViewModels.UserMessagesViewModel

@{
    ViewBag.Title = "Messages";
}

<h2>Messages</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<h2>Recieved</h2>
@if (Model.RecievedMessages.Count > 0)
{
    <ul>
        @foreach (var item in Model.RecievedMessages)
        {
            <li><b>@Html.DisplayFor(modelItem => item.Title)</b> @Html.DisplayFor(modelItem => item.Body)</li>
        }
    </ul>
}
<h2>Sent</h2>
@if (Model.SentMessages.Count > 0)
{
    <ul>
        @foreach (var item in Model.SentMessages)
        {
            <li><b>@Html.DisplayFor(modelItem => item.Title)</b> @Html.DisplayFor(modelItem => item.Body)</li>
        }
    </ul>
}