@model Connected.ViewModels.UserMessagesViewModel

@{
    ViewBag.Title = "Messages";
    <link href="~/Content/Messsage.css" rel="stylesheet" />
}

<div>

    <div class="Sent">
        <h2>Sent</h2>
        @if (Model.SentMessages.Count > 0)
        {

            foreach (var item in Model.SentMessages)
            {
                <p class="User"><b>@Html.ActionLink(item.Recipient.FullName, "UserWall", "Home", new { id = item.Recipient.Id }, null)</b></p>
                <p class="Title"><b>@Html.DisplayFor(modelItem => item.Title)</b></p>
                <p class="Text">@Html.DisplayFor(modelItem => item.Body)</p>

            }

        }
    </div>

    <div class="Recieved">
        <h2>Recieved</h2>
        @if (Model.RecievedMessages.Count > 0)
        {

            foreach (var item in Model.RecievedMessages)
            {
                <p class="User">@Html.ActionLink(item.Author.FullName, "UserWall", "Home", new { id = item.Author.Id }, null) </p> 
               
                <p class="Title">@Html.DisplayFor(modelItem => item.Title)</p>
                <p> @Html.DisplayFor(modelItem => item.Body)</p>
                @Html.ActionLink("Reply", "CreateMessage", new { id = item.Author.Id })
            }

        }
    </div>

    

</div>

<div class="Footer">
    <a href="javascript:history.go(-1)">Back</a>
</div>