@using System.Web.UI.WebControls
@model Connected.ViewModels.FrontPageViewModel

@{
    ViewBag.Title = "Posts";   
    <link href="~/Content/UserPostLayout.css" rel="stylesheet" />
}

<h2>Friend Posts</h2>



<p>
    @foreach (var r in Model.Requests)
    {
        <div class="Request">
            @r.Friendship.User1.UserName @Html.ActionLink("Accept", "AcceptFriendRequest", new {FriendshipId = r.Friendship.Id}) @Html.ActionLink("Deny", "DenyFriendRequest", new {FriendshipId = r.Friendship.Id})
        </div>
     }
</p>

<div class="Posts">
        @foreach (var p in Model.Posts)
        {
            <div class="border">

                <div class="Id">
                    @if (p.Author.FullName == null)
                    {
                        @Html.ActionLink(p.Author.UserName, "UserWall", new { id = p.Author.Id })
                    }
                    else
                    {
                        @Html.ActionLink(p.Author.FullName, "UserWall", new { id = p.Author.Id })
                    }

                    @if (p.GroupPost == true)
                    {
                        <p>posted in @p.TheGroup.Name</p>
                    }
                </div>
                <div class="Text">
                    @p.Body <br />
                    @if (p.ImageUrl != null)
                    {
                        <img src="@p.ImageUrl" class="Image" />
                    }
                </div>
                <div class="Date">
                    @p.DateTimePosted
                </div>
                <div class="Comment">
                    @if (p.Comments.Count > 0)
                    {
                        <h4>Comments</h4>}

                    @foreach (var c in p.Comments)
                    {
                        <hr class="cLine" />
                        <div>
                            @if (c.Author.FullName == null)
                            {
                                @Html.ActionLink(c.Author.UserName, "UserWall", new { id = c.Author.Id })
                            }
                            else
                            {
                                @Html.ActionLink(c.Author.FullName, "UserWall", new { id = c.Author.Id })
                            }
                        </div>
                        <p class="cText">@c.Body</p>
                        <p class="cDate">@c.DateTimePosted</p>
                    }
                </div>
            </div>
        }

</div>