@using System.Web.UI.WebControls
@model Connected.ViewModels.FrontPageViewModel

@{
    ViewBag.Title = "Posts";
}

<h2>My Wall</h2>

<div>
    <h4>My Posts</h4>
    <dl class="dl-horizontal">
        @foreach (var p in Model.Posts)
        {
            <dt>
                @p.Id
            </dt>

            <dd>
                @p.Body
            </dd>
            
            <p>@p.Author.UserName</p>
            <p>@p.DateTimePosted.ToString("D")</p>
            <p>@p.Likes</p>
            <p>@p.Dislikes</p>
            <p>@p.Shares</p>
            
            foreach (var c in p.Comments)
            {
                <p>@c.Body</p> 
                <p>@c.Author.UserName</p>
                <p>@c.DateTimePosted</p>
                <br />
            }
        }

    </dl>
</div>
<p>
</p>