@using System.Web.UI.WebControls
@model Connected.ViewModels.UserWallViewModel

@{
    ViewBag.Title = Model.User.UserName;
    <link href="~/Content/UserWall.css" rel="stylesheet" />
}

@if (Model.User.FullName == null)
{
    <h2>@Model.User.UserName</h2>
}
else
{
    <h2>@Model.User.FullName</h2>
}



<div class="nav">
    <div class="Details">
        <img src="@Model.User.ProfilePicture" class="Image" />

        <p><b>Email:</b> @Model.User.Email</p>
        <p><b>Age:</b> @Model.User.Age</p>
        <p><b>Gender:</b> @Model.User.Gender</p>
        <p><b>Description:</b></p>
        <p class="Description">@Model.User.Description</p>
        @if (Model.AreFriends == 4)
        {
            <button>
                @Html.ActionLink("Edit Information", "Information", new {id = Model.Id});
            </button>
        }
    </div>

    <div class="Messages">
        <h4>Messages</h4>
        @Html.ActionLink("Send Message", "CreateMessage", "Message", new { id = Model.User.Id }, null)
    </div>
    

    <div class="Friends">
        <h4>Friends</h4>
        @{
            switch (Model.AreFriends)
            {
                case 0:
                    @Html.ActionLink("Add friend", "AddFriend", new {userId = Model.User.Id}, null)
                    ;
                    break;
                case 1:
                    <p class="Pending">Pending</p>
                    break;
                case 2:
                <p class="Unfriend">@Html.ActionLink("Unfriend", "RemoveFriend", new { userId = Model.User.Id }, null)</p>
                    ;
                    break;
                case 4:
                default:
                    break;
            }
        }


        @foreach (var f in Model.Friends)
        {
            if (f.FullName == null)
            {
                <p>@Html.ActionLink(f.UserName, "UserWall", new { id = f.Id })</p>
            }
            else
            {
                <p>@Html.ActionLink(f.FullName, "UserWall", new { id = f.Id })</p>
            }

        }
        <br />

    </div>
</div>


<div class="Posts">

    <button class="create">

        @Html.ActionLink("Create A Post", "CreateUserPost", new { id = Model.Id })
    </button>

    @foreach (var p in Model.Posts)
    {
        <div class="UserPost">
            <div class="Id">
                @p.Author.UserName
            </div>
            <div class="Text">
                @p.Body
            </div>
            <i>@p.DateTimePosted</i>
        </div>
        foreach (var c in p.Comments)
        {
            @c.Body
            <br />
        }
        @Html.ActionLink("Comment", "CreateComment", new {id = p.Id, returnPath = "UserWall", returnController = "Home"});
    }

</div>


<div class="Footer">
    <hr />
    <a href="javascript:history.go(-1)">Back</a>
</div>
