@using System.Web.UI.WebControls
@model Connected.ViewModels.UserWallViewModel

@{
    ViewBag.Title = Model.User.UserName;
}

<h2>@Model.User.UserName</h2>
@{
    switch (Model.AreFriends)
    {
        case 0:
            @Html.ActionLink("Add friend", "AddFriend", new { userId = Model.User.Id }, null);
            break;
        case 1:
            <p>Pending</p>
            break;
        case 2:
            @Html.ActionLink("Unfriend", "RemoveFriend", new { userId = Model.User.Id }, null);
            break;
            case 4:
        break;
    }

}
    <div>
        <h4>UserPost</h4>
        <dl class="dl-horizontal">
            @foreach (var p in Model.Posts)
        {
<p>@p.Author.UserName</p>
            <dt>
                @p.Id
            </dt>

            <dd>
                @p.Body
            </dd>
            foreach (var c in p.Comments)
            {
                @c.Body
                <br />
            }
        }

    </dl>
</div>
<div>
    <h4>UserInfo</h4>
    <dl class="dl-horizontal">
        <p>Name: @Model.User.Age </p>
        <p>Age: @Model.User.Description </p>
        <p>Id: @Model.User.Id </p>
        <p>Name: @Model.User.UserName </p>
        <p>Name: @Model.User.Email </p>
    </dl>
</div>
<div>
    <h4>Friends</h4>
    <dl class="dl-horizontal">
        @foreach (var f in Model.Friends)
        {
            <p>@Html.ActionLink(f.UserName, "UserWall", new {id = f.Id})</p>
        }

    </dl>
</div>
<p>
</p>
