@using Connected.Services
@model Connected.ViewModels.RecipeViewModel

@{
    ViewBag.Title = "DisplayRecipe";
    <link href="~/Content/DisplayRecipe.css" rel="stylesheet" />
}

<h2>DisplayRecipe</h2>

<div class="RecipeArea">
    <h1 class="RecipeName">
        @Html.DisplayFor(model => model.Name)
    </h1>
    <div class="Image">
        @Html.DisplayFor(model => model.Image)
    </div>

    <p class="Description">
        <b class="DescriptionName">
            @Html.DisplayNameFor(model => model.Description)
        </b> <br/>
        @Html.DisplayFor(model => model.Description)
    </p>

    <p class="Ingredients">
        <b class="IngredientsName">
            @Html.DisplayNameFor(model => model.Ingredients)
        </b> <br/>
        @Html.DisplayFor(model => model.Ingredients)
    </p>

    <p class="Method">
        <b class="MethodName">
            @Html.DisplayNameFor(model => model.Method)
        </b> <br/>
        @Html.DisplayFor(model => model.Method)
    </p>

    <p class="Date">
        Posted on: @Html.DisplayFor(model => model.DateTimePosted)
    </p>
</div>
    <p class="Likes">
        <input type="button" name="btnLike" value="Like" class="glyphicon glyphicon-thumbs-up" />
     
        @Html.DisplayFor(model => model.Likes)

        <input type="button" name="btnDislike" value="Dislike" class="glyphicon glyphicon-thumbs-down" />
    
        @Html.DisplayFor(model => model.Dislikes)

         <a>Shares</a>

    </p>


<div>
    @Html.ActionLink("Back to List", "ListOfRecipes")
</div>

<button class="create">

    @Html.ActionLink("Comment", "CreateRecipeComment",  new{id = Model.Id})

</button>
<i>Posts</i>
<hr />
<br /> <!--What is the problem here?-->
@foreach (var comment in Model.Comments)
{
    <p><b>@comment.Author.UserName</b></p>
    <p>@comment.Body</p>
    <br />
}
