@using System.Web.Mvc.Html
@model IEnumerable<Connected.ViewModels.RecipeViewModel>

@{
    ViewBag.Title = "ListOfRecipes";    
    <link href="~/Content/ListOfRecipes.css" rel="stylesheet" />
}

<h2>ListOfRecipes</h2>

<button class="create">

    @Html.ActionLink("Create Recipe", "CreateRecipe")

</button>
                      <div class="RecipeArea">
                          @foreach (var item in Model)
                          {
                              
                                  <h3 class="RecipeName">
                                      @Html.ActionLink(item.Name, "DisplayRecipe", new {id = item.Id})
                                  </h3>
                                  <div class="Image">
                                      <img src="../../Images/sandwich.jpg" height="70px" width="70px" class="Image" alt="Logo" />
                                      <!--Html.DisplayFor(modelItem => item.Image)-->
                                  </div>
                              <p class="Description">
                                  @Html.DisplayFor(modelItem => item.Description)
                              </p>
                              <p class="Details">
                                  <b>
                                      Likes: 
                                  </b>
                                  @Html.DisplayFor(modelItem => item.Likes)
                                  <b>
                                      Dislikes: 
                                  </b>
                                  @Html.DisplayFor(modelItem => item.Dislikes)
                              </p>

                          }
                      </div>
                        

<br/>
<br/>
<br/>
<br />
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }