@using System.Web.Mvc.Html
@model IEnumerable<Connected.ViewModels.RecipeViewModel>

@{
    ViewBag.Title = "ListOfRecipes";    
    <link href="~/Content/ListOfRecipes.css" rel="stylesheet" />
}

<h2>ListOfRecipes</h2>

<button class="create">
    @Html.ActionLink("Create Recipe", "CreateRecipe", new { id = "Create" })
</button>

    @foreach (var item in Model)
    {
        <p class="RecipeArea">
            <h4 class="RecipeName">
                @Html.DisplayFor(modelItem => item.Name, new {id = "Name"})
                @Html.ActionLink("Details", "DisplayRecipe", new {id = item.Id})
            </h4>
            <p class="Description">
                 @Html.DisplayFor(modelItem => item.Description, new { id = "Description" })
            </p>
            <p class="Likes">
                @Html.DisplayNameFor(model => model.Likes)
                @Html.DisplayFor(modelItem => item.Likes, new { id = "NrLikes" })
                @Html.DisplayNameFor(model => model.Dislikes)
                @Html.DisplayFor(modelItem => item.Dislikes, new { id = "NrDisLikes" })
            </p>
        </p>
    }




<br/>
<br/>
<br/>
<br />
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }